<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>{%PROPERTYNAME%} |Southwark Properties</title>
</head>

<body>
    <h1 class="heading">Southwark Properties</h1>

    <div class="properties-container">
        <div class="property-main">
            <div class="main-image" style="background-image: url({%IMAGE%});"></div>
            <div class="sub-images">
                <img src="{%IMAGE%}" class="sub-image">
                <img src="{%IMAGE%}" class="sub-image">
                <img src="{%IMAGE%}" class="sub-image">
                <img src="{%IMAGE%}" class="sub-image">
            </div>
            <div class="propertyName">{%PROPERTYNAME%}</div>
            <div class="features">
                <div class="propertyType feature"><i class="far fa-building"></i> {%PROPERTYTYPE%}</div>
                <div class="beds feature"><i class="fas fa-bed"></i> {%BEDS%}</div>
                <div class="sqft feature"><i class="fas fa-ruler-combined"></i> {%SQFT%} sqft</div>
                <div class="baths feature"><i class="fas fa-bath"></i> {%BATH%}</div>
            </div>
            <div class="price">&pound; {%PRICE%}</div>
            <div class="description">{%DESCRIPTION%}
            </div>
            <div class="enquire">
                <a href="/property?id={%ID%}" class="btn">Enquire Now</a>
            </div>
        </div>
    </div>
</body>

</html>